
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("iviban.jpg") %>">
      <h1>Ivi's Cocktail Selection</h1>
      <p> Best cocktails selected by me</p>
      <button><a href="cocktails/new">Add cocktail</a></button>
</div>
